html {
  font-family: "Fredoka One", sans-serif;
}

main {
  background: repeating-linear-gradient(-38deg, #b3fbff, #c9fcff 20px, #d4fdff 20px);
}

.tagline {
  max-width: 19em;
}

.text {
  transform-origin: left center;
  animation: text 5s linear;
}

h1 {
  color: #990073;
  transform: rotate(-8deg);
  margin-left: -15px;
}

p, a{
  text-decoration: none;
  color: #c09;
}

p {
  transform: rotate(-4deg);
}

.btn-ghost {
  border-color: #990073
}

.btn-ghost:hover {
  border-color: #990073
}

.text-box {
  padding-left: 6%;
}

@keyframes text {

  0% {
    filter: opacity(0);
  }

  50% {
    filter: opacity(0);
  }

  75% {
    filter: opacity(.5);
    filter: blur(.5px);
  }

  100% {
    filter: opacity(1);
  }

}

.cherry {
  bottom: -180px;
  right: 54px;
  transform: scale(.7);
  z-index: 3;
  animation: ;
}

.mint-chip {
  bottom: -375px;
  right: 54px;
  transform: scale(.7);
  animation: ;
}

.chocolate-chip {
  bottom: -300px;
  right: 54px;
  transform: scale(.7);
  z-index: 1;
  animation: ;
}

.vanilla-fudge {
  bottom: -235px;
  right: 54px;
  transform: scale(.7);
  z-index: 2;
  animation: ;
}

.cone {
  bottom: -475px;
  right: 54px;
  transform: scale(.7);
  animation: ;
}
